Data:
1) Structured Data: 2 Dimensional Data (Rows and Columns)
	a) Homogenous: Statistical Models (Linear Regression and Logistic Regression)
	b) Hetrogenous: Machine Learning (Random Forest, SVM, Boosting...)
2) Unstructured Data: n dimensional (Images, Text, Voice, videos) Deep Learning


Variables
1) Discrete
	- Flag
	- Categorical/nominal
	- Ordinal
2) Numerical
	- Continuous
	- Integer
	
Approach:
1) Load and Audit the data (Pandas, sklearn)
	a) Shape of the data
	b) distribution of the data (Homogenous/Linear or Hetrogenous/NonLinear)
	c) integrity of the data (missing values, inconsistencies etc)
2) Data Preparation and Data Transformation
	a) Missing value imputation
	b) Handle inconsistencies
	c) Transformation
		- zscore/standard scaler
		- log (scaling)
		- min/max scaler
3) Data Visualization
	a) Boxplots
	b) scatters
	c) Pairplot
	
4) Analysis
	a) Uni-variate analysis (Measures central tendency/ measures of dipersion)
	b) Bi-variate analysis (correlation/chi square tests)
	c) Multi-Variate
		- Supervised
			- Classification
		- Unsupervised

Import the standard libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

Load and Audit the data

In [2]:
train = pd.read_csv('train_ctrUa4K.csv')
test = pd.read_csv('test_lAUu6dG.csv')

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [4]:
train.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

Imputation of missing values


1.   Categorical/Object dtype: Mode (Frequency)
2.   Continuous/Int and Float dtype: Median

In [5]:
train_1 = train.copy()

In [6]:
train_1['Gender'].value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [7]:
train_1['Gender'] = np.where(train_1['Gender'].isna(),'Male', train_1['Gender'])

In [9]:
train_1['Married'].value_counts()

Yes    398
No     213
Name: Married, dtype: int64

In [10]:
train_1['Married'].mode()[0]

0    Yes
Name: Married, dtype: object